html * {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: #4688F1;
    padding: 0;
    margin: 0;
}

.login-box {
    background: #fff;
    padding: 20px;
    max-width: 480px;
    margin: 25vh auto;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

.login-box:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-box h2 {
    margin: 20px 0 20px;
    padding: 0;
    text-transform: uppercase;
    color: #4688F1;
}

.social-button {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    transition: all .3s ease;
    width: 80px;
    height: 80px;
    margin: 10px 5px 10px auto;
}

.social-button img{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#kakao-connect {
    background-size: cover;
}

#naver-connect {
    background-size: cover;
}

#google-connect {
    background: rgb(255, 255, 255) no-repeat center;
    background-size: cover;
    /*background: rgb(255, 255, 255) url('../logo/google.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;*/
    /*border: 1px solid rgb(220, 74, 61);*/
}
#github-connect {
    background-size: cover;
    /*background: rgb(255, 255, 255) url('../logo/github.png') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;*/
    /*border: 1px solid rgb(0, 0, 0);*/
}
